h2 {
  color: saddlebrown;
  font-family: "Comic Sans MS", serif;
}

td{
  padding: 4px;
}

table{
  margin-left: 2em;
  border: solid 2px #0d47a1;
  border-collapse: collapse;
  box-shadow: 4px 4px 20px violet;
}

span.canada_label{
  color: darkred;
  font-size: larger;
  font-weight: bolder;
}

th, td {
  border: 2px solid blue;
  padding: .5em;

}

th{
  color: darkred;
}

td {
  background-color: violet;
  color: darkred;
}

th.col{
  text-align: left;
  background-color: yellowgreen;
}
